.theme-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

[data-theme="light"] .sun-icon {
  display: none;
  color: var(--color-warning);
}
[data-theme="light"] .moon-icon {
  display: block;
  color: var(--color-white);
}
[data-theme="dark"] .sun-icon {
  display: block;
  color: var(--color-warning);
}
[data-theme="dark"] .moon-icon {
  display: none;
  color: var(--color-text-primary);
}